*, *::before, *::after {
  box-sizing: border-box;
  letter-spacing: 2px;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

html,
body {
  font-family: "Aldrich", sans-serif;
  user-select: none;
  height: 100vh;
  background: linear-gradient(
    331deg,
    rgba(255, 0, 0, 0.1),
    rgba(0, 128, 0, 0.1),
    rgba(0, 0, 255, 0.1)
  );
}

h1 {
  font-family: "Atma", system-ui;
  text-align: center;
  padding: 1.875rem 0;
  color: hsl(0, 77%, 49%);
  font-size: 2.5rem;
}

.new-grid-btn {
  display: block;
  margin: 0 auto;
  padding: 0.625rem 1.25rem;
  border-radius: 0.313rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease 0.15s;
}

.new-grid-btn:hover {
  background-color: transparent;
  border: 1px solid rgba(207, 203, 203, 0.795);
}

.new-grid-btn:active {
  transform: scale(0.98);
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 2.125rem;
  gap: 2.125rem;
}

.buttons-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
}

.side-btn {
    padding: 0.625rem 1.25rem;
    border-radius: 0.938rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all ease 0.15s;
}

.side-btn:hover {
    background-color: transparent;
    border: 1px solid rgba(207, 203, 203, 0.795);
    transform: scale(1.05);
}

.side-btn:active {
    transform: scale(1);
}

.random-color-btn:hover {
     background: linear-gradient(
    331deg,
    rgba(255, 0, 0, 0.1),
    rgba(0, 128, 0, 0.1),
    rgba(0, 0, 255, 0.1)
  );
}

.sketch {
  height: 550px;
  width: 550px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100rem -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.row {
  display: flex;
  flex: 1;
}

.column {
  display: flex;
  flex: 1;
  cursor: zoom-in;
  border: 1px solid rgba(0, 0, 0, 0.014);
}

/* Color Input styling */

input[type='color'] {
  appearance: none;
  width: 6.25rem;
  height: 6.25rem;
  padding: 0.625rem;
  border: none;
  background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 3.125rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type='color']:hover {
  border: none;
}

.color-picker-container {
  display: flex;
  align-items: center;
  justify-content: center;
}